// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include <dt-bindings/display/media-bus-format.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/display/rockchip_vop.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/sensor-dev.h>
#include <dt-bindings/suspend/rockchip-rk3506.h>
#include "rk3506.dtsi"

/ {
	es8311_sound: es8311-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rockchip-es8311";
		simple-audio-card,cpu {
			sound-dai = <&sai1>;
		};
		simple-audio-card,codec {
			sound-dai = <&es8311>;
		};
    };  

	gpio-keys {
		compatible = "gpio-keys";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&mute_key_pin>;

		mute-key {
			gpios = <&gpio0 RK_PB3 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_MUTE>;
			label = "mute";
			linux,input-type = <1>;
			wakeup-source;
			debounce-interval = <100>;
		};
	};

	adc-keys0 {
        compatible = "adc-keys";
        io-channels = <&saradc 0>;
        io-channel-names = "buttons";
        keyup-threshold-microvolt = <1800000>;
        status = "okay";
		poll-interval = <100>;

        menu-key {
            linux,code = <KEY_MENU>;
            label = "menu";
            press-threshold-microvolt = <18000>;
        };
    };

    adc-keys1 {
        compatible = "adc-keys";
        io-channels = <&saradc 1>;
        io-channel-names = "buttons";
        keyup-threshold-microvolt = <1800000>;
        status = "okay";
		poll-interval = <100>;

        volumeup-key {
            linux,code = <KEY_VOLUMEUP>;
            label = "volume up";
            press-threshold-microvolt = <900000>;
        };

        volumedown-key {
            linux,code = <KEY_VOLUMEDOWN>;
            label = "volume down";
            press-threshold-microvolt = <18000>;
        };
    };

	fiq_debugger: fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <0>;
		rockchip,wake-irq = <0>;
		rockchip,irq-mode-enable = <1>;
		rockchip,baudrate = <1500000>;	/* Only 115200 and 1500000 */
		interrupts = <GIC_SPI 115 IRQ_TYPE_LEVEL_HIGH>;
	};

	leds: leds {
		compatible = "gpio-leds";
		heartbeat_led: heartbeat-led {
			default-state = "on";
			gpios = <&gpio0 RK_PD0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};

	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vdd_0v9_stb: vdd-0v9-stb {
		compatible = "regulator-fixed";
		regulator-name = "vdd_0v9_stb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc_sys>;
	};

	vdd_0v9: vdd-0v9 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_0v9";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vdd_0v9_stb>;
	};

	vdd_cpu: vdd-cpu {
		compatible = "regulator-fixed";
		regulator-name = "vdd_cpu";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc_sys>;
	};

	vcc_ddr: vcc-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1350000>;
		regulator-max-microvolt = <1350000>;
		vin-supply = <&vcc_sys>;
	};

	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_sys>;
	};

	vcc_3v3_stb: vcc-3v3-stb {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_stb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_sys>;
	};

	vcc_3v3: vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3_stb>;
	};

	avdd_amoled: avdd-amoled {
		compatible = "regulator-fixed";
		regulator-name = "avdd_amoled";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3_stb>;
	};

	vcc_3v3_hp: vcc-3v3-hp {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_hp";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3_stb>;
	};
};

/**********cpu**********/
&cpu0 {
	cpu-supply = <&vdd_cpu>;
	status = "okay";
};

/**********display**********/
&cma {
	size = <0x2000000>;
};

&display_subsystem {
	logo-memory-region = <&drm_logo>;
	status = "okay";
};

&route_dsi{
	status = "okay";
};

&vop {
	status = "okay";
};

&rga2 {
	status = "okay";
};

&dsi_dphy {
	status = "okay";
};

&dsi_in_vop {
	status = "okay";
};

&pwm0_4ch_2 {
	pinctrl-names = "active";
	pinctrl-0 = <&rm_io20_pwm0_ch2>;
	status = "okay";
};

&dsi {
	status = "okay";

	dsi_panel: panel@0 {
		status = "okay";
		compatible = "simple-panel-dsi";
		reg = <0>;
		power-supply = <&avdd_amoled>;
		pinctrl-names = "default";
		pinctrl-0 = <&dsi_panel_reset>;

		reset-gpios = <&gpio2 RK_PA0 GPIO_ACTIVE_LOW>;

		prepare-delay-ms = <20>;
		reset-delay-ms = <1>;
		init-delay-ms = <20>;
		enable-delay-ms = <10>;
		disable-delay-ms = <10>;
		unprepare-delay-ms = <20>;

		bus-format = <MEDIA_BUS_FMT_RGB888_1X24>;
		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST | MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_NO_EOT_PACKET )>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes  = <1>;
		width-mm = <20>;
		height-mm = <44>;

		panel-init-sequence = [
			15 00 02 FE 04
			15 00 02 6A 00
			15 00 02 FE 05
			15 00 02 05 00
			15 00 02 FE 07
			15 00 02 07 4F
			15 00 02 FE 01
			15 00 02 2A 02
			15 00 02 2B 73
			15 00 02 FE 0A
			15 00 02 29 10
			15 00 02 FE 00
			15 00 02 C2 03
			15 00 02 35 00
			15 00 02 36 00
			15 00 02 3A 77
			15 00 02 51 00
			05 14 01 11
			05 14 01 29
			15 02 02 51 90
		];

		panel-exit-sequence = [
			05 14 01 28
			05 78 01 10
		];

		disp_timings0: display-timings {
			native-mode = <&dsi_timing0>;

			dsi_timing0: timing0 {
				clock-frequency = <11200000>;

				hactive = <240>;
				vactive = <536>;

				vsync-len = <8>;
				vback-porch = <15>;
				vfront-porch = <24>;
				
				hsync-len = <20>;
				hback-porch = <40>;
				hfront-porch = <20>;

				vsync-active = <0>;
				hsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi: endpoint {
					remote-endpoint = <&dsi_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi>;
			};
		};
	};

};

/**********audio**********/

&sai1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = < &rm_io12_sai1_sclk
				  &rm_io13_sai1_sdi
				  &rm_io14_sai1_lrck
				  &rm_io15_sai1_sdo0>;
};

&i2c2{
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io16_i2c2_scl &rm_io17_i2c2_sda>;
	clock-frequency = <100000>;

	es8311: es8311@18 {
		status = "okay";
		#sound-dai-cells = <0>;
		compatible = "everest,es8311";
		reg = <0x18>;

		clocks = <&mclkout_sai1>;
        clock-names = "mclk";
		assigned-clocks = <&mclkout_sai1>;
        assigned-clock-rates = <12288000>; 

		adc-pga-gain = <6>;  /* 18dB */
		adc-volume = <0xa7>;  /* -12dB */
		dac-volume = <0xa7>;  /* -12dB */
		aec-mode = "dac left, adc right";

		spk-ctl-gpios = <&gpio0 RK_PB0 GPIO_ACTIVE_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&spk_ctrl>;
	};
};

&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io3_uart3_tx &rm_io6_uart3_rx>;
	dma-names = "tx", "rx";

	keyboard {
		compatible = "pgs,hid-over-uart";
		status = "okay";
		hid-descr-addr = <0x0001>;
		baudrate = <1000000>;
		post-power-on-delay-ms = <5>;
		vdd-supply = <&vcc_3v3>;
		vddl-supply = <&vcc_3v3>;
	};
};

&pinctrl {
	speaker {
		spk_ctrl: spk-ctrl {
			rockchip,pins = 
				<0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	keys {
		mute_key_pin: mute-key-pin {
			rockchip,pins =
				<0 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	dsi-panel {
		dsi_panel_reset: dsi-panel-reset {
			rockchip,pins =
			 	<2 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	rm_io16 {
		rm_io16_i2c2_scl: rm-io16-i2c2-scl {
			rockchip,pins =
				<0 RK_PC0 34 &pcfg_pull_up>;
		};
	};

	rm_io17 {
		rm_io17_i2c2_sda: rm-io17-i2c2-sda {
			rockchip,pins =
				<0 RK_PC1 35 &pcfg_pull_up>;
		};
	};
};

/**********media**********/
&mmc{
	/* For eMMC */
	max-frequency = <200000000>;
	mmc-hs200-1_8v;
	mmc-ddr-1_8v;
	bus-width = <4>;
	non-removable;
	supports-emmc;
	cap-mmc-highspeed;
	disable-wp;
	no-sdio;
	no-sd;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk_pins &sdmmc_cmd_pins &sdmmc_bus4_pins>;
	vqmmc-supply = <&vcc_1v8>;
	vmmc-supply = <&vcc_3v3>;
	status = "okay"; 
};

/**********adc**********/
&saradc {
	vref-supply = <&vcc_1v8>;
	status = "okay";
};

&tsadc {
	status = "disabled";
};

/**********usb**********/
&usb20_otg0 {
	dr_mode = "peripheral";
	/* vbus-supply = <&vcc5v0_otg0>;
	rockchip,gpio-vbus-det; */
	status = "okay";
};

&usb20_otg1 {
	dr_mode = "host";
	status = "okay";
};

&usb2phy {
	/* extcon = <&extcon_usb>; */
	status = "okay";
};

&u2phy_otg0 {
	status = "okay";
};

&u2phy_otg1 {
	status = "okay";
};

